<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

<h3 id="greeting-app">Greeting</h3>
<p>If you start your message with a greeting make sure you use "Dear" followed by the patient's name and not "Hi" or similar.</p>
<p>Choosing which name to use depends on the context of the message. Use a first name when you want to be more encouraging or conversational. For a more formal or reassuring tone consider using a full name.</p>

<div class="app-example app-example--content">
  <strong class="nhsuk-tag app-example__heading">
  Example
</strong>


  <ul>
    <li>conversational tone – "Dear ((firstName))"</li>
    <li>reassuring tone – "Dear ((firstName)) ((lastName))"</li>
  </ul>
</div>

<p>Avoid using just a last name or first name without a greeting as it can sound impersonal.</p>
<p>For proxies, address the patient and not the proxy (parent or carer) to avoid confusion over who the communication is intended for. For new borns or children you may want to address the parent or carer. If you do you should include the name or date of birth of the patient in the body of the message to avoid confusion.</p>

<div class="app-example app-example--content">
  <strong class="nhsuk-tag app-example__heading">
  Example
</strong>


  <ul>
    <li>"Dear parent or carer, we are inviting your child born in ((month))((year)) for free NHS vaccinations to keep them healthy."</li>
    <li>"Dear parent or carer of ((firstName)). This is a reminder of your appointment which is booked for ((day)) ((month)) at ((time)) at ((location))."</li>
  </ul>
</div>

      <hr>


    </div>
  </div>
{% endblock %}
